
    <main>       
            <article>
                <dl>
                    
                    <ul>
                        {{#each universityList}}
                            <li><a href="/university/{{this._id}}">{{this.name}}</a></li>
                        {{/each}}
                    </ul>
                </dl>
                </article>
    </main>
