<div class="container">
        <div class="row">
            <div class="col-sm-8">
                <p class="welcome">Change Your Password</p>
                <br>
                {{#if error}}
                <div class="alert alert-danger col-4 offset-4" role="alert">
                    <h4 class="alert-heading">Error!</h4>
                    <p>{{error}}</p>
                </div>
                {{/if}}

                <form id="change-form" method="post" action="/update_password" onsubmit="validateUpdatePasswordInputs(event)" ;>
                  
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="id" name="id" value="{{user._id}}" />
                       
                       <p class="noPost" >Current Password:</p>
                        <input type="password" class="form-control" id="password" name="password"
                            placeholder="Enter Current password" />
                        <br>

                        <p class="noPost" >New Password:</p>
                        <input type="password" class="form-control" id="new_password" name="new_password"
                            placeholder="Enter New password" />
                        <br>
                        <p class="noPost" >Confirm New Password:</p>
                        <input type="password" class="form-control" id="confirm" name="confirm" 
                            placeholder="Confirm New password"/>
                        <br/>
                        <div class="form-group">
                            <input type="submit" class="btn AllButton btn-outline-success" value="Update" />
                        </div>
                    </div>
                </form>
                <a id="profile" href="/profile">Back to Profile</a>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />