 <div class="background_div">
  <div class="container">
       <div class="background_div4">
            <div class="div_circle_6"></div>
            <div class="div_circle_7"></div>
            <div class="div_class_8"></div>
            <div class="vector"></div>
            <div class="vector2"></div>
            <div class="vector3"></div>
        </div>
        <div class="row">
            <div class="col-sm-8">
               
                {{#if error}}
                <div class="alert alert-danger col-4 offset-4" role="alert">
                    <h4 class="alert-heading">Error!</h4>
                    <p>{{error}}</p>
                </div>
                {{/if}}

                <form id="change-form" method="post" action="/update_password" onsubmit="validateUpdatePasswordInputs(event)" ;>
                   <p class="welcome" style="padding-top: 20px;">Change Your Password</p>
                <hr>
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="id" name="id" value="{{user._id}}" />
                       
                       <p class="noPost" >Current Password:</p>
                        <input type="password" class="form-control" id="password" name="password"
                            placeholder="Enter Current password" />
                        <br>

                        <p class="noPost" >New Password:</p>
                        <input type="password" class="form-control" id="new_password" name="new_password"
                            placeholder="Enter New password" />
                        <br>
                        <p class="noPost" >Confirm New Password:</p>
                        <input type="password" class="form-control" id="confirm" name="confirm" 
                            placeholder="Confirm New password"/>
                        <br/>
                        <div class="form-group">
                            <input type="submit" class="sign_up_form_btn" value="Update" />
                        </div>
                    </div>
                </form>
                <a id="profile" href="/profile">Back to Profile</a>
            </div>
        </div>
    </div>
    </div>