<div class="login_background">
<div class="container col-3 mt-3 text-center">

    <div id="error-div" style="display: none;" class="alert alert-danger" role="alert">
        <p class="alert-heading">Error!</p>
        <p id="error-line"></p>
    </div>
    {{#if msg}}
    <div class="alert alert-success" role="alert">
        <p class="alert-heading">Message!</p>
        <p style="color: inherit;">{{msg}}</p>
    </div>
    {{/if}}

<div class="background_div8">
            <div class="div_circle_2"></div>
            <div class="div_circle_1"></div>
            <div class="div_circle_3"></div>
            <div class="div_circle_5"></div>
            <div class="div_circle_6"></div>
            <div class="div_circle_7"></div>
            <div class="div_class_8"></div>
            <div class="vector"></div>
            <div class="vector2"></div>
            <div class="vector3"></div>
</div>
<div class="login_div">
    <form method="POST" action="/login" id="login-form" onsubmit="return validateSignInInputs(event)">
        <p style="color: black;float:left;font-size:20px;">Email:</p>
        <label class="sr-only" for="email">email</label>
        <input class="form-control rounded-0" type="text" id="email" name="email" placeholder="email">
        <p style="color: black;float:left;font-size:20px;padding-top:15px;">Password:</p>
        <label class="sr-only" for="password">Password</label>
        <input class="form-control mb-4 rounded-0" type="password" id="password" name="password" placeholder="Password">
        <div class="invalid-feedback mb-3">
            Username and/or passsword cannot be empty
        </div>
        <button type="submit" name="submitButton" id="submitButton" class="sign_up_form_btn">Login</button>
        {{#each errors}}
        <div class="error font-italic" id="errors">{{this}}</div>
        {{/each}}
    </form>
<div class="register_link">
    <a  id="No-account" href="/signup">Need to register? Click here to sign-up</a>
</div>
</div>
    {{#if hasErrors}}
    <p>{{errors}}</p>
  {{/if}}

</div>
</div>
