<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>


    <link rel="stylesheet" href="/public/css/main_styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
    {{!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script> --}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
          <script src="/public/js/scripts.js"></script>
</head>
<body>

    <header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="sqaure">
            <div class="logo">
            </div>
            <h5 class="logo_E">E</h5>
            <h5 class="logo_Educapedia">EDUCAPEDIA</h5>
        </div>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav navbar-nav navbar-left">
                <div class="nav_bar_custom">
        <li class="nav-item"><a class="navbar-brand2" href="/">Home</a></li>
         <li class="nav-item"><a class="navbar-brand2" href="#">Posts</a></li>
        <li class="nav-item"><a class="navbar-brand2" href="/search">Universities in US</a></li>
       
        </ul>
        </div>
        <ul class="navbar-nav ml-auto" style="list-style: none;">
        {{#if isUserLoggedIn}}
            <li class="nav-item" ><a class="navbar-brand" href="/profile">User-Profile</a></li>
        {{else}}
            <div class="login_btn">
            <li class="nav-item" ><a class="sign_up_btn" href="/signup">Sign Up</a></li>
            </div>
            <li class="nav-item" ><a class="login_up_btn" href="/login">Login</a></li>
            
        {{/if}}
        </ul>        
        </div>
    </nav>
  </header>
    {{{body}}}
    
</body>

</html>
