<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>University Finder</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>
    <header>
        <nav>
    </nav>
    </header>
   <main>
        {{{body}}}
    </main>
     
</body>
</html>