<div class="background_div">
    <div class ="background_div2">
        <div class="background_div3">
        <p class="theme_text_color">Let's Begin..</p>
        <div class="intro_div">
            <p>Searching for universities in the US...<b class="theme_text_color">Educapedia</b> is here for you</p>
            <p class="theme_text_color">A Seamless journey to your dream university!</p>
        </div>
        </div>
        <div class="background_div4">
            <div class="div_circle_2"></div>
            <div class="div_circle_1"></div>
            <div class="div_circle_3"></div>
            <div class="div_circle_5"></div>
            <div class="div_circle_6"></div>
            <div class="div_circle_7"></div>
            <div class="div_class_8"></div>
            <div class="vector"></div>
            <div class="vector2"></div>
            <div class="vector3"></div>
        </div>
    </div>
</div>
