<div class="background_div">
    <div class ="background_div2">
        <div class="background_div3">
        <p style="color: #545BE8;">Let's Begin..</p>
        <div class="intro_div">
            <p>Searching for universities in the US...<b style="color: #545BE8;">Educapedia</b> is here for you</p>
        </div>
        </div>
        <div class="background_div4">
            <div class="div_circle_2"></div>
            <div class="div_circle_1"></div>
            <div class="div_circle_3"></div>
            <div class="div_circle_5"></div>
            <div class="div_circle_6"></div>
            <div class="div_circle_7"></div>
            <div class="div_class_8"></div>
            <div class="vector"></div>
            <div class="vector2"></div>
            <div class="vector3"></div>
        </div>
    </div>
</div>
